.gitconfig
.local/bin
!.local/bin/lfub
venv
.BurpSuite/
.ICEauthority
.Xauthority
.android/
.bash_completion
.cache/
.cert/
.conda/
.config/Beeper/
.config/BraveSoftware/
.config/Code - OSS/
.config/Code/
.config/Codux/
.config/Electron/
.config/Element/
.config/GIMP/
.config/JetBrains/
.config/Microsoft/
.config/QtProject.conf
.config/Qtrac Ltd./
.config/Slack/
.config/Thunar/
.config/Upscayl/
.config/Windscribe/
.config/beekeeper-studio/
.config/btop/
.config/cef_user_data/
.config/chromium/
.config/copyq/
.config/cp-tools/
.config/dconf/
.config/discord/
.config/dlv/
.config/drivedlgo/
.config/easytag/
.config/fish/
.config/flameshot/
.config/fusuma/
.config/github-copilot/
.config/google-chrome/
.config/grammarly-languageserver/
.config/gtk-2.0/
.config/gtk-3.0/
.config/gup/
.config/heroic/
.config/irust/
.config/kickstart.nvim/
.config/lazydocker/
.config/libfm/
.config/libreoffice/
.config/microsoft-edge-dev/
.config/mimeapps.list
.config/msmtp/
.config/mutt/
.config/neofetch/
.config/nvim.old/
.config/nvim/
.config/obs-studio/
.config/obsidian/
.config/pavucontrol.ini
.config/pcmanfm/
.config/plex.tv/
.config/pulse/
.config/pypoetry/
.config/qBittorrent/
.config/rclone/
.config/screenkey.json
.config/streamrip/
.config/tailscale/
.config/teams/
.config/tgme/
.config/tlpui/
.config/via-nativia/
.config/wireshark/
.config/xfce4/
.config/xournalpp/
.docker/
.dosbox/
.gnupg/
.insightface/
.ipython/
.java/
.jupyter/
.keras/
.lldb/
.local/etc/
.local/lib/
.local/share/
.local/state/
.mozilla/
.npm/
.nvidia-settings-rc
.nvm/
.password-store/
.pki/
.profile
.pulse-cookie
.python_history
.rustup/
.ssh/
.steam/
.steampath
.steampid
.vim/
.viminfo
.vscode/
.wget-hsts
.xinitrc
.yarnrc
iiith/
lsblk.txt
media/
singing.mkv
strategy.txt
tcp_open_ports.txt
video_stickers.py
work/
.gtkrc-2.0
